@media only screen and (max-width: 1024px) {
    ._header {
        ._image-logo {
            max-width: 200px;
            max-height: 70px;
        }
    }
}
@media only screen and (max-width: 768px) {
    ._header {
        padding-bottom: 0;
        border-bottom: 1px solid #e5e7eb;
        ._max-width {
            display: none;
        }
        ._header-min {
            display: flex;
            ._search {
                width: 100%;
                max-width: 100%;
                form {
                    border-radius: 2px;
                    input {
                        border-top-left-radius: 2px;
                        border-bottom-left-radius: 2px;
                        padding: 2px 5px;
                    }
                    button {
                        padding: 2px 5px;
                    }
                }
                ._search-content {
                    top: 30px;
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
    // ._shops {
    //     margin-top: 50px;
    // }
    ._sider {
        ._sider-large {
            display: none;
        }
        ._sider-small {
            display: block;
        }
    }
    ._checkout {
        flex-wrap: wrap-reverse;
        ._left {
            margin-top: 20px;
            padding-right: 5px;
        }
        ._right {
            padding-left: 0;
        }
    }
    ._max-width {
        ._left {
            width: 100%;
        }
        ._right {
            margin-top: 50px;
            width: 100%;
            ._item {
                width: 50%;
            }
        }
        ._item {
            width: 50%;
        }
    }
    ._footer {
        ._max-width {
            ._content {
                width: 100%;
                display: block;
                margin-top: 20px;
                padding: 0 20px;
                border-top: 1px solid #e5e7eb;
            }
        }
    }
    ._pages {
        ._left {
            padding-right: 0;
            ._small {
                display: block;
            }
            ._large {
                display: none;
            }
        }
    }
}
